@model MvcApplication1.Models.RegisterModel
@using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { @id = "forgetPassword" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Forget Password</legend>
        <table class="table">
        <tr>
                <td>
                    @Html.LabelFor(m => m.UserName)
                </td>
                <td>@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Emailid)
                </td>
                <td>@Html.TextBoxFor(m => m.Emailid, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Emailid)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
    </fieldset>
}
@Ajax.ActionLink("Back to login", "Login", "Account", new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })
