<table class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable" id="dynamic-table" role="grid" aria-describedby="dynamic-table_info">
    <thead>
        <tr role="row">
            <th class="center sorting_disabled" rowspan="1" colspan="1" aria-label="




                                                            ">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Domain: activate to sort column ascending">Domain</th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Price</th>
            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending">Clicks</th>
            <th class="sorting_desc" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="

                                                                Update
                                                            : activate to sort column ascending" aria-sort="descending">
                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                Update
            </th>
            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>
        </tr>
    </thead>

    <tbody>
        <tr role="row" class="odd">
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href="#">fair.com</a>
            </td>
            <td>$35</td>
            <td class="hidden-480">3,900</td>
            <td class="sorting_1">Mar 26</td>

            <td class="hidden-480">
                <span class="label label-sm label-inverse arrowed-in">Flagged</span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a href="#" class="blue">
                        <i class="ace-icon glyphicon glyphicon-search bigger-130"></i>
                    </a>

                    <a href="#" class="green">
                        <i class="ace-icon glyphicon glyphicon-pencil bigger-130"></i>
                    </a>

                    <a href="#" class="red">
                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a title="View" data-rel="tooltip" class="tooltip-info" href="#">
                                    <span class="blue">
                                        <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="Edit" data-rel="tooltip" class="tooltip-success" href="#">
                                    <span class="green">
                                        <i class="ace-icon glyphicon glyphicon-pencil bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="Delete" data-rel="tooltip" class="tooltip-error" href="#">
                                    <span class="red">
                                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr role="row" class="even">
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href="#">view.com</a>
            </td>
            <td>$45</td>
            <td class="hidden-480">4,100</td>
            <td class="sorting_1">Mar 12</td>

            <td class="hidden-480">
                <span class="label label-sm label-success">Registered</span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a href="#" class="blue">
                        <i class="ace-icon glyphicon glyphicon-search bigger-130"></i>
                    </a>

                    <a href="#" class="green">
                        <i class="ace-icon glyphicon glyphicon-pencil bigger-130"></i>
                    </a>

                    <a href="#" class="red">
                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-info" href="#" data-original-title="View">
                                    <span class="blue">
                                        <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-success" href="#" data-original-title="Edit">
                                    <span class="green">
                                        <i class="ace-icon glyphicon glyphicon-pencil bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-error" href="#" data-original-title="Delete">
                                    <span class="red">
                                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr role="row" class="odd">
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href="#">above.com</a>
            </td>
            <td>$35</td>
            <td class="hidden-480">3,420</td>
            <td class="sorting_1">Mar 12</td>

            <td class="hidden-480">
                <span class="label label-sm label-warning">Expiring</span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a href="#" class="blue">
                        <i class="ace-icon glyphicon glyphicon-search bigger-130"></i>
                    </a>

                    <a href="#" class="green">
                        <i class="ace-icon glyphicon glyphicon-pencil bigger-130"></i>
                    </a>

                    <a href="#" class="red">
                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a title="View" data-rel="tooltip" class="tooltip-info" href="#">
                                    <span class="blue">
                                        <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="Edit" data-rel="tooltip" class="tooltip-success" href="#">
                                    <span class="green">
                                        <i class="ace-icon glyphicon glyphicon-pencil bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="Delete" data-rel="tooltip" class="tooltip-error" href="#">
                                    <span class="red">
                                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr role="row" class="even">
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href="#">max.com</a>
            </td>
            <td>$60</td>
            <td class="hidden-480">4,400</td>
            <td class="sorting_1">Mar 11</td>

            <td class="hidden-480">
                <span class="label label-sm label-warning">Expiring</span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a href="#" class="blue">
                        <i class="ace-icon glyphicon glyphicon-search bigger-130"></i>
                    </a>

                    <a href="#" class="green">
                        <i class="ace-icon glyphicon glyphicon-pencil bigger-130"></i>
                    </a>

                    <a href="#" class="red">
                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-info" href="#" data-original-title="View">
                                    <span class="blue">
                                        <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-success" href="#" data-original-title="Edit">
                                    <span class="green">
                                        <i class="ace-icon glyphicon glyphicon-pencil bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-error" href="#" data-original-title="Delete">
                                    <span class="red">
                                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr role="row" class="odd">
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href="#">day.com</a>
            </td>
            <td>$55</td>
            <td class="hidden-480">5,600</td>
            <td class="sorting_1">Jan 29</td>

            <td class="hidden-480">
                <span class="label label-sm label-info arrowed arrowed-righ">Sold</span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a href="#" class="blue">
                        <i class="ace-icon glyphicon glyphicon-search bigger-130"></i>
                    </a>

                    <a href="#" class="green">
                        <i class="ace-icon glyphicon glyphicon-pencil bigger-130"></i>
                    </a>

                    <a href="#" class="red">
                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a title="View" data-rel="tooltip" class="tooltip-info" href="#">
                                    <span class="blue">
                                        <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="Edit" data-rel="tooltip" class="tooltip-success" href="#">
                                    <span class="green">
                                        <i class="ace-icon glyphicon glyphicon-pencil bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="Delete" data-rel="tooltip" class="tooltip-error" href="#">
                                    <span class="red">
                                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr role="row" class="even">
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href="#">pro.com</a>
            </td>
            <td>$55</td>
            <td class="hidden-480">4,250</td>
            <td class="sorting_1">Jan 21</td>

            <td class="hidden-480">
                <span class="label label-sm label-success">Registered</span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a href="#" class="blue">
                        <i class="ace-icon glyphicon glyphicon-search bigger-130"></i>
                    </a>

                    <a href="#" class="green">
                        <i class="ace-icon glyphicon glyphicon-pencil bigger-130"></i>
                    </a>

                    <a href="#" class="red">
                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-info" href="#" data-original-title="View">
                                    <span class="blue">
                                        <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-success" href="#" data-original-title="Edit">
                                    <span class="green">
                                        <i class="ace-icon glyphicon glyphicon-pencil bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-error" href="#" data-original-title="Delete">
                                    <span class="red">
                                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr role="row" class="odd">
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href="#">great.com</a>
            </td>
            <td>$55</td>
            <td class="hidden-480">6,400</td>
            <td class="sorting_1">Feb 24</td>

            <td class="hidden-480">
                <span class="label label-sm label-success">Registered</span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a href="#" class="blue">
                        <i class="ace-icon glyphicon glyphicon-search bigger-130"></i>
                    </a>

                    <a href="#" class="green">
                        <i class="ace-icon glyphicon glyphicon-pencil bigger-130"></i>
                    </a>

                    <a href="#" class="red">
                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a title="View" data-rel="tooltip" class="tooltip-info" href="#">
                                    <span class="blue">
                                        <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="Edit" data-rel="tooltip" class="tooltip-success" href="#">
                                    <span class="green">
                                        <i class="ace-icon glyphicon glyphicon-pencil bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="Delete" data-rel="tooltip" class="tooltip-error" href="#">
                                    <span class="red">
                                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr role="row" class="even">
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href="#">up.com</a>
            </td>
            <td>$95</td>
            <td class="hidden-480">8,520</td>
            <td class="sorting_1">Feb 22</td>

            <td class="hidden-480">
                <span class="label label-sm label-info arrowed arrowed-righ">Sold</span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a href="#" class="blue">
                        <i class="ace-icon glyphicon glyphicon-search bigger-130"></i>
                    </a>

                    <a href="#" class="green">
                        <i class="ace-icon glyphicon glyphicon-pencil bigger-130"></i>
                    </a>

                    <a href="#" class="red">
                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-info" href="#" data-original-title="View">
                                    <span class="blue">
                                        <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-success" href="#" data-original-title="Edit">
                                    <span class="green">
                                        <i class="ace-icon glyphicon glyphicon-pencil bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-error" href="#" data-original-title="Delete">
                                    <span class="red">
                                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr role="row" class="odd">
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href="#">sight.com</a>
            </td>
            <td>$58</td>
            <td class="hidden-480">6,100</td>
            <td class="sorting_1">Feb 19</td>

            <td class="hidden-480">
                <span class="label label-sm label-inverse arrowed-in">Flagged</span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a href="#" class="blue">
                        <i class="ace-icon glyphicon glyphicon-search bigger-130"></i>
                    </a>

                    <a href="#" class="green">
                        <i class="ace-icon glyphicon glyphicon-pencil bigger-130"></i>
                    </a>

                    <a href="#" class="red">
                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a title="View" data-rel="tooltip" class="tooltip-info" href="#">
                                    <span class="blue">
                                        <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="Edit" data-rel="tooltip" class="tooltip-success" href="#">
                                    <span class="green">
                                        <i class="ace-icon glyphicon glyphicon-pencil bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="Delete" data-rel="tooltip" class="tooltip-error" href="#">
                                    <span class="red">
                                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr role="row" class="even">
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </td>

            <td>
                <a href="#">base.com</a>
            </td>
            <td>$35</td>
            <td class="hidden-480">2,595</td>
            <td class="sorting_1">Feb 18</td>

            <td class="hidden-480">
                <span class="label label-sm label-success">Registered</span>
            </td>

            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a href="#" class="blue">
                        <i class="ace-icon glyphicon glyphicon-search bigger-130"></i>
                    </a>

                    <a href="#" class="green">
                        <i class="ace-icon glyphicon glyphicon-pencil bigger-130"></i>
                    </a>

                    <a href="#" class="red">
                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-info" href="#" data-original-title="View">
                                    <span class="blue">
                                        <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-success" href="#" data-original-title="Edit">
                                    <span class="green">
                                        <i class="glyphicon glyphicon-pencil bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a title="" data-rel="tooltip" class="tooltip-error" href="#" data-original-title="Delete">
                                    <span class="red">
                                        <i class="ace-icon glyphicon glyphicon-trash bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-xs-6">
        <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">Showing 11 to 20 of @ViewBag.TotalRecord entries</div>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
            <ul class="pagination">


                @{
                    int index = 0;
                    int startNumber = 1;
                    
                    int totalNumber =19 / 10;// ((int)ViewBag.TotalRecord / 10);
                    int lastPageNumber = (int)ViewBag.TotalRecord;
                    

                    if (Request.QueryString["pageNumber"] != null)
                    {
                        startNumber = (startNumber * Convert.ToInt32(Request.QueryString["pageNumber"]) * 10) / 10;
                        startNumber = startNumber > 0 ? startNumber : startNumber - 5;
                        startNumber = totalNumber <= 5 ? 1 : startNumber;
                        if (startNumber < 0)
                        {
                            startNumber = 0;
                        }
                    }
                    if (startNumber > 1)
                    {
                        <li class="paginate_button previous" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
                            <a href="@Url.Action("ViewCustomer", new  {@pageNumber = 1 })"><i class="glyphicon  glyphicon-fast-backward "></i></a>
                        </li>
                        <li class="paginate_button previous" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
                            <a href="@Url.Action("ViewCustomer", new  {@pageNumber = startNumber - 1 })"><i class="glyphicon  glyphicon-step-backward "></i></a>
                        </li>

                    }
                    else
                    {
                        <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
                            <a href="#"><i class="glyphicon  glyphicon-fast-backward "></i></a>
                        </li>
                        <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
                            <a href="#">
                                @*<a href="@Url.Action("ViewCustomer", new  {@pageNumber = startNumber })">*@<i class="glyphicon  glyphicon-step-backward ">
                                </i>
                            </a>
                        </li>

                    }
                }


                @for (index = startNumber; index <= totalNumber; index++)
                {
                    if (index <= 5 + startNumber && index > 0)
                    {
                        if (Request.QueryString["pageNumber"] != null && Convert.ToInt32(Request.QueryString["pageNumber"]) == index)
                        {
                            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
                                @*@Html.ActionLink(index.ToString(),
                                "ViewCustomer", new { @pageNumber = index })*@
                                @Ajax.ActionLink(index.ToString(),
                                           "ViewCustomer", new { @pageNumber = index }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "post", UpdateTargetId = "gridContainer" })


                            </li>

                        }
                        else if (Request.QueryString["pageNumber"] == null && index == 1)
                        {
                            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
                                @Ajax.ActionLink(index.ToString(),
                                      "ViewCustomer", new { @pageNumber = index }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "post", UpdateTargetId = "gridContainer" })
                                
                             </li>
                        }
                        else
                        {
                            <li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
                                @Ajax.ActionLink(index.ToString(),
                                           "ViewCustomer", new { @pageNumber = index }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "post", UpdateTargetId = "gridContainer" })
                            </li>
                        }
                    }
                }
                @if (totalNumber < 10)
                {
                    if (Request.QueryString["pageNumber"] != null && Convert.ToInt32(Request.QueryString["pageNumber"]) == index
                        && Convert.ToInt32(Request.QueryString["pageNumber"]) > 1)
                    {
                        <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
                            @Ajax.ActionLink(index.ToString(),
                                           "ViewCustomer", new { @pageNumber = index }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "post", UpdateTargetId = "gridContainer" })
                           
                        </li>
                    }
                    else if (Request.QueryString["pageNumber"] == null)
                    {
                        <li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
                            @Ajax.ActionLink(index.ToString(),
                                           "ViewCustomer", new { @pageNumber = index }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "post", UpdateTargetId = "gridContainer" })
                          
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
                            @Ajax.ActionLink(index.ToString(),
                                           "ViewCustomer", new { @pageNumber = index }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "post", UpdateTargetId = "gridContainer" })

                        </li>
                    }
                }
                <!-- <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0"><a href="#">2</a></li>
                <li class="paginate_button " aria-controls="dynamic-table" tabindex="0"><a href="#">3</a></li> -->
                @if (Request.QueryString["pageNumber"] != null && Convert.ToInt32(Request.QueryString["pageNumber"]) == totalNumber)
                {
                    <li class="paginate_button next disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next"><a href="#"><i class="glyphicon  glyphicon-step-forward"></i></a></li>
                    <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
                        <a href="@Url.Action("ViewCustomer", new { @pagenumber=index -1 })"><i class="glyphicon  glyphicon-fast-forward "></i></a>
                    </li>

                }


                else
                {
                    if (Request.QueryString["pageNumber"] != null && Convert.ToInt32(Request.QueryString["pageNumber"]) < index)
                    {
                        <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
                            <a href="@Url.Action("ViewCustomer", new { @pageNumber = Convert.ToInt32(Request.QueryString["pageNumber"])+1 })"><i class="glyphicon  glyphicon-step-forward"></i></a>
                        </li>
                        <li class="paginate_button previous" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">

                            <a href="@Url.Action("ViewCustomer", new { @pagenumber = index < totalNumber ? index : totalNumber })"><i class="glyphicon  glyphicon-fast-forward "></i></a>
                        </li>
                    }
                    else  if (Request.QueryString["pageNumber"] == null && totalNumber >1)
                    {
                        <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
                            <a href="@Url.Action("ViewCustomer", new { @pageNumber = Convert.ToInt32(Request.QueryString["pageNumber"])+2 })"><i class="glyphicon  glyphicon-step-forward"></i></a>
                        </li>
                        <li class="paginate_button previous" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
                            <a href="@Url.Action("ViewCustomer", new { @pagenumber = index < totalNumber ? index : totalNumber })"><i class="glyphicon  glyphicon-fast-forward "></i></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button next disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
                            <a href="javascript:;"><i class="glyphicon  glyphicon-step-forward"></i></a>
                        </li>
                        <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
                            <a href="javascript:;"><i class="glyphicon  glyphicon-fast-forward "></i></a>
                        </li>
                    }


                }
            </ul>
        </div>
    </div>
</div>